*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

header{
    background-color: black;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 300px;
    height: 100px;
    background-image: url(https://wallpapercat.com/w/full/c/8/7/116411-3840x2160-desktop-4k-netflix-wallpaper-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search-inp{
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.3s;
}
.add-btn{
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 12px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.search-inp:hover{
    background-color: #ddd;
}

.add-btn:hover{
    background-color: #ccc;
}